*.o
cling
eniac_sqrt
hello_c
hello_cpp
inot
pt
regex
sockclient
sockserv
vector
watchpoint
asm1
dynwin
fac
hello_world_c
memchk
numjoy
optout
rdtsc/rdtsc
sdltest
sdltest2
showmmap
test_macro
testbt
testbuf
testcairo
tst_sigint
